:root{
	--white: #ECECEC;
	--white2: #D9D9D9;
	--grey: #242424;
	--black: #161616;
	--accent: #E73636;
	--accent2: #CD3131;
	--green: #1EAD1E;

	--mailColor: #D18E11;
	--ytColor: #FF0000;
	--spotifyColor: #1DB954;
	--twtvColor: #9146FF;
	--linColor: #0A66C2;
	--igColor: #FF0069;
	--ghColor: #181717;
	--behanceColor: #1769FF;
	--twitterColor: #000000;
}

@import 'tailwindcss';


@font-face {
	font-family: "Campeche Light";
	src: url("/fonts/Campeche-Light.otf") format("opentype");
}
@font-face {
	font-family: "Campeche Regular";
	src: url("/fonts/Campeche-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Campeche Medium";
	src: url("/fonts/Campeche-Medium.otf") format("opentype");
}
@font-face {
	font-family: "Campeche Bold";
	src: url("/fonts/Campeche-Bold.otf") format("opentype");
}


@font-face {
	font-family: "Campeche-Display Regular";
	src: url("/fonts/CampecheDisplay-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Campeche-Display Medium";
	src: url("/fonts/CampecheDisplay-Medium.otf") format("opentype");
}


.campeche-light {
	font-family: "Campeche Light", sans-serif;
}
.campeche-normal {
	font-family: "Campeche Regular", sans-serif;
}
.campeche-medium {
	font-family: "Campeche Medium", sans-serif;
}
.campeche-bold {
	font-family: "Campeche Bold", sans-serif;
}


.campeche-display-regular {
	font-family: "Campeche-Display Regular", sans-serif;
}
.campeche-display-medium {
	font-family: "Campeche-Display Medium", sans-serif;
}


* {
	scrollbar-width: thin; /*For Firefox*/
	scrollbar-color: var(--accent) var(--black);
}

html {
	font-family: "Campeche Regular", sans-serif;
	color: var(--white);
	background: var(--black);
	scroll-behavior: smooth;
}


/* SCROLLBAR PROPERTIES START ========================================= */
*::-webkit-scrollbar{
	width: 8px;
}
*::-webkit-scrollbar-track{
	background: transparent;
}
*::-webkit-scrollbar-thumb{
	background-color: var(--accent);
	border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover{
	background-color: var(--accent2);
}
*::-webkit-scrollbar-thumb:active{
	background-color: #B92C2C;
}
/* =========================================== SCROLLBAR PROPERTIES END */